In [149]:
mystring = "hello"

mylist = []

for letters in mystring:
    mylist.append(letters)

mylist

['h', 'e', 'l', 'l', 'o']

In [163]:
mynums = [ nums**2 for nums in range(0,11) if nums%2==0 ]
mynums

[0, 4, 16, 36, 64, 100]

In [167]:
celcius = [0,10,20,34.5]
fahrenheit = [ ((9/5)*temp+32) for temp in celcius ]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [175]:
result = [ x if x%2==0 else 'odd' for x in range(1,11) ]
result

['odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [186]:
addition = [ print("hi") if sum==5 else 'false' for sum in range(0,10) ]
addition

hi

['false',
 'false',
 'false',
 'false',
 'false',
 None,
 'false',
 'false',
 'false',
 'false']

In [201]:
mylist = []
for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [202]:
mylist = [ x*y for x in [2,4,6] for y in [1,10,1000] ]
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [205]:
def add_func(n1,n2):
    return n1+n2
add_func(10,10)

20

In [3]:
def say_name(name = 'Default'):
    print(f" hello {name} ")
    return (f"hello {name}")

say_name("Yaseen")

hello Yaseen

'hello Yaseen'

In [8]:
def results(num):
    result = num%2==0
    return result

results(21)

False

In [2]:
def check_even_inlist(num_list):
    for num in num_list:
        if num % 2 == 0:
            return True
        else:
            pass
    return False

check_even_inlist([1,3])

False

In [6]:
stock_price = [ ("apple",200) , ("google",500) , ("microsoft",300) ]

for item in stock_price:
    print(item)

for ticker,price in stock_price:
    print(ticker)
    print(price + (-0.1*price))

('apple', 200)
('google', 500)
('microsoft', 300)
apple
180.0
google
450.0
microsoft
270.0

In [3]:
work_hours = [("Abby",10000) , ("yaseen",1000), ("shariff",50000)]

def employee_check(work_hours):
    current_max = 0
    employee_of_the_month = " "
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_the_month = employee
        else:
            pass
    return (employee_of_the_month,current_max)
employee_check(work_hours)

('shariff', 50000)

In [17]:
x = [1,2,3]
for items in x:
    pass
print('end')

end

In [ ]:
name = 'swamy'
for letters in name:
    if letters == a:
        continue
    print